VITE_API_PROTOCOL=http
VITE_API_HOST=localhost
VITE_AUTH_PORT=8001
VITE_USER_PORT=8002
VITE_ORDER_PORT=8003
VITE_RESTAURANT_PORT=8004
VITE_NOTIFICATION_PORT=8005

# Optional overrides (если все сервисы доступные по своим URL)
# VITE_AUTH_URL=https://api.example.com/auth
# VITE_USER_URL=https://api.example.com/user
# VITE_ORDER_URL=https://api.example.com/order
# VITE_RESTAURANT_URL=https://api.example.com/restaurant
# VITE_NOTIFICATION_URL=https://api.example.com/notification

